export POSTGRES_IMAGE=postgres:16.3

export COLLECTOR_CONTRIB_IMAGE=otel/opentelemetry-collector-contrib:0.102.1
export PROMETHEUS_IMAGE=quay.io/prometheus/prometheus:v2.52.0
export JAEGERTRACING_IMAGE=jaegertracing/all-in-one:1.57

export PROMETHEUS_SERVICE_PORT=9090
export PROMETHEUS_SERVICE_HOST=prometheus
export PROMETHEUS_ADDR=${PROMETHEUS_SERVICE_HOST}:${PROMETHEUS_SERVICE_PORT}

export OTEL_COLLECTOR_HOST=localhost
export OTEL_COLLECTOR_PORT_GRPC=4317
export OTEL_COLLECTOR_PORT_HTTP=4318
export OTEL_EXPORTER_OTLP_ENDPOINT=http://${OTEL_COLLECTOR_HOST}:${OTEL_COLLECTOR_PORT_HTTP}
